<html>
    <head>
        <Title>Simple NodeJS Video Streaming App</Title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    </head>
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <a href='/' class="header item">
                    <i class="play icon"></i>
                    Home
                </a>
                <a href="/player" class="item">Demo Video</a>
            </div>
        </div>
