<%- include('partials/header'); %>


        <div class="ui main text container">
            <h1 class="ui header">Check out my video streaming app</h1>
            <p>This is a work in progress</p>
        </div>

        
<%- include('partials/footer'); %>